@import 'variables';

body,
html,
ul,
ol,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $gray-dark;
  background-color: $white;
  line-height: $line-height-base;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}
