$font-family-base: Arial, Helvetica, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$padding-base: 1rem;
$margin-base: 1rem;

$white: #fff;
$gray-light: #f9f9f9;
$gray-neutral: #dfdfdf;
$gray: #a9a9a9;
$gray-dark: #343a40;
$black: #000;
$light-pink: #fff2f0;
$pink: #ffccc7;
$pulse: #f56969;
$primary-blue: #7dced5;
$second-blue: #31c5d3;
$third-blue: #eff8fe;
