@import 'variables';
@import 'reboot';

html,
body {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 1000px;
  min-width: 800px;
  height: 100%;
  display: flex;
  padding: $padding-base 2.5rem;
  background-color: $white;
  flex-direction: column;
  gap: 1rem;
}

.todo-input {
  width: 500px;
  justify-content: center;
  height: 3rem;
  vertical-align: bottom;
  border: 1px solid $gray;
  border-radius: 3px;
  padding-left: $padding-base;
  font-size: 1.25rem;
  flex: 1;

  &:focus {
    outline: 0;
    border: 1px solid $primary-blue;
  }
}

.add-btn {
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: $primary-blue;
  text-align: center;
  color: white;
  font-size: 2rem;

  &:active {
    background-color: $second-blue;
  }
}

.todo-list {
  &--inbox {
    min-height: 140px;
    overflow: scroll;
  }

  &--completed ul {
    height: 140px;
    overflow: scroll;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: $gray-light;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    position: relative;

    input[type='checkbox'] {
      transform: scale(1.2);
      margin-right: 0.5rem;

      &:checked + label {
        color: $gray;
        text-decoration: line-through;
      }
    }

    button {
      width: 3.5rem;
      height: 1rem;
      margin-left: 24rem;
      border: none;
      border-radius: 0.2rem;
      background-color: $primary-blue;
      text-align: center;
      color: white;
      font-size: 1rem;

      &:active {
        background-color: $second-blue;
      }
    }
  }
}

h3 {
  text-align: left;
  font-size: 1.25rem;
  font-style: italic;
}

.completed-list {
  &--inbox {
    min-height: 140px;
    overflow: scroll;
  }

  &--completed ul {
    height: 140px;
    overflow: scroll;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: $gray-light;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    position: relative;

    input[type='checkbox'] {
      transform: scale(1.2);
      margin-right: 0.5rem;

      &:checked + label {
        color: $gray;
        text-decoration: line-through;
      }
    }

    button {
      width: 3.5rem;
      height: 1rem;
      margin-left: 24rem;
      border: none;
      border-radius: 0.2rem;
      background-color: $primary-blue;
      text-align: center;
      color: white;
      font-size: 1rem;

      &:active {
        background-color: $second-blue;
      }
    }
  }
}